body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*Header*/
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 100px;
}
.header p {
    margin: 0;
    padding: 0;
    
}
.header ul {
    list-style-type: none; /*kropki i marginesy w listach*/
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 15px;
}
.header a { 
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/*Content*/

/*Front*/
.front {
    background-color: #1F2937;
    color: #E5E7EB;
    margin: 0px;
    padding: 100px 100px 100px 100px;
    display: flex;   
    justify-content: space-around;
}
.front-left {
    width: 50%; 
}
.front-right {
    background-color: grey;  
    display: flex;
    align-items: center;  
    justify-content: center;
    width: 400px;
}
.front button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    height: 35px;
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
}

/*Info*/
.info {
   text-align: center;
   padding: 20px;
}
 .info-bottom {
    display: flex;
    justify-content: center;
}
.info-image {
    display: flex;
    flex-shrink: 0;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
} 
.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 30px
}

/*Quote*/
.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
}
.quote-quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.quote-autor {
    font-size: 25px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    text-align: right;
}

/*Singup*/
.singup-container {
    display: flex;
    justify-content: center;
}
.singup {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    width: 1000px;
    height: 150px;
    
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}
.singup button {
    font-size: 16px;
    font-weight: 700;
    color: #E5E7EB;
    width: 100px;
    height: 35px;
    border-color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
}
.singup-text h1,
.singup-text p{
    margin: 0;
    padding: 0;
}
.singup-text h1 {
    font-size: 22px;
}
.singup-text p {
    font-size: 18px;
}




